.DS_Store
.gitignore
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/torch.iml
.idea/workspace.xml
CNN.py
dataset.py
feed_forward.py
functions.py
neural_network.py
torch_gradient.py
torch_grd_loss.py
torch_linearRegression.py
torch_linearRgr.py
torchversion.py
transfer_learning.py
../.DS_Store
data/
.DS_Store
.gitignore
CNN.py
dataset.py
feed_forward.py
functions.py
neural_network.py
torch_gradient.py
torch_grd_loss.py
torch_linearRegression.py
torch_linearRgr.py
torchversion.py
transfer_learning.py
